body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.MuiPaper-root {
  border-radius: 12px !important;
}

.MuiButton-root {
  text-transform: none !important;
  border-radius: 8px !important;
  font-weight: 500 !important;
}